.rainy-day {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rainy-day > canvas {
    position: absolute;
    background-color: #104d6a;
}
