.rainy-day {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: url("/RainyDay/umbrella.png"), auto;
}

.rainy-day > canvas {
    position: absolute;
    background-color: #104d6a;
}
