.bounce-string {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bounce-string > canvas {
    position: absolute;
    background-color: #000;
}
