@import "./reset.css";

html,
body {
    --color-bg: #eee;
    --color-theme1: #c3e4e9;
    --color-theme2: #88b4be;
    --color-theme3: #056c89;
    --color-theme4: #023653;

    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#root {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

footer {
    height: 200px;
    background-color: #eee;
    border: 1px solid red;
}
